node_modules
.pnpm-store
dist
src-tauri/target
src-tauri/gen
src-tauri/resources/node
src-tauri/resources/preset-plugins/
src-tauri/resources/internal-plugins/
*.log
.DS_Store
.idea
.vscode
*.local
.env
.tmp
release-msi-version.tmp.json
skills
.serena
.cargo/config.toml
source/
.gitmodules
